<div class="page-bg"></div>

<div class="animation-wrapper">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>
  <div class="particle particle-4"></div>
</div>

<div>
  <nav class="m-3 navbar bg-light d-flex flex-row-reverse border border-dark">
    <div>
      <form name="loginas" class="form-inline p-3">
        <label>Welcome back, {{user.username}}&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input class="form-control mr-3 border border-dark" type="button" name="button" value="Basket"
         onclick="openPage('/cart')">
        <input class="form-control border border-dark mr-3" style="width: 100px;"
              type="button" name="button" onclick="openPage('/adminprofile')" value="Profile">
        <input class="form-control border border-dark text-center" style="width: 100px;"
              name="button" type="button" value="Logout" onclick="openPage('/logout')">
      </form>
    </div>

    <div>
      <form class="form-inline p-3" name="buttons" method="post">
        <input class="form-control border border-dark text-center mr-3" style="width: 140px;"
               name="button" type="button" value="Now showing" onclick="openPage('/Nowshowingmovie')"/>
        <input class="form-control border border-dark text-center mr-3" style="width: 110px;"
              name="button" type="button" value="Upcoming" onclick="openPage('/upcomingmovie')"/>
        <input class="form-control border border-dark text-center mr-3" style="width: 100px;"
              name="button" type="button" value="Pricelist" onclick="openPage('/ticket')"/>
        <input class="form-control border border-dark text-center" style="width: 100px;"
              name="button" type="button" value="Edit users" onclick="openPage('/editusers')"/>
      </form>
    </div>
  </nav>
</div>

<div id="carouselExampleIndicators" class="carousel slide mx-5 px-5" data-ride="carousel">

  <div class="carousel-inner" style="width:100%; max-height: 600px !important;">
    <div class="carousel-item active">
      <img src="images/a.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img src="images/b.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img src="images/c.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img src="images/d.jpg" alt="Fourth slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="container at-login-form">
  <div class="modal fade" id="at-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <form method="post" class="needs-validation" novalidate>
            <div class="form-group">
              <input name="username" type="text" class="form-control-form xs-12" id="exampleInputUsername" placeholder="Username">
              <div id="invalid-feedback" style="font-size: 12px;">
              </div>
            </div>
            <div class="form-group">
              <input name="password" type="password" class="form-control-form xs-12" id="exampleInputPasswordpas" placeholder="Password">
              <div name="passwords" id="invalid-feedback1" style="font-size: 12px;">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Remember me
                  </label>
                  <div id="invalid-feedback2" style="font-size: 12px;">
                  </div>
                </div>
              </div>
            </div>
            <button id="loginbtn" class="form-control" type="submit" style="height: 50px;" href="/login">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
