
<div class="page-bg"></div>

  <div class="animation-wrapper">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
    <div class="particle particle-3"></div>
    <div class="particle particle-4"></div>
  </div>

<!-- navigation -->
<nav class="navbar navbar-default bg-light border border-dark navbar-static-top" style="margin: 14px;">
  <div class="container-fluid">
    <div class="navbar-header" style="margin-top: 12px; margin-bottom: 12px;">
      <form class="form-inline" name="buttons" method="post">
        <input class="form-control border border-dark text-center" style="width: 100px;"
               name="button" type="button" value="Home" onclick="openPage('/home')"/>
      </form>
    </div>
  </div>
</nav>

<div>
  <h1 class="align-middle neon" style="font-weight: bold; margin: 30px;">Edit users</h1>
</div>
