.form-control {
  color: #000 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.form-control:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.neon {
  color: #000;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

body, html {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #999;
    font-size: 15px;
    background-color: #222;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.btn-block {
    margin-top: 10px;
}

button.btnModal{
    background-color: #1e1e1e;
    border: #1e1e1e;
}
